body {
    color: #777;
}

.pure-img-responsive {
    height: auto;
    max-width: 100%;
}

/*
Add transition to containers so they can push in and out.
*/
#layout,
#menu,
.menu-link {
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

/*
This is the parent `<div>` that contains the menu and the content area.
*/
#layout {
    position: relative;
    left: 0;
    padding-left: 0;
}

#layout.active #menu {
    left: 150px;
    width: 150px;
}

#layout.active .menu-link {
    left: 150px;
}

/*
The content `<div>` is where all your content goes.
*/
.content {
    line-height: 1.6em;
    margin: 0 auto;
    margin-bottom: 50px;
    padding: 0 2em;
    max-width: 800px;
}

.sub-content {
    margin-top: 120px;
}

.header {
    margin: 0;
    padding: 9px 0;
    -webkit-box-shadow: 0px 6px 7px 0px rgba(66, 63, 63, 0.65);
    box-shadow: 0px 6px 7px 0px rgb(225 218 218 / 65%);
    /*overflow: hidden;*/
    background-color: #ffffff;
    color: rgb(211, 195, 195);
    text-align: center;
    border-bottom: 1px solid #eee;
    /*position: fixed;
   top: 0;
   width: 100%;*/
}

.header a {
    margin-top: -23px;
    margin-right: 140px;
    padding-top: 20px;
    color: #3c90e3;
    font-size: 19px;
}

.header a:hover {
    text-decoration: none;
}

.header span {
    display: block;
    padding-top: 5px;
    color: black;
    font-size: 11px;

}

.content-subhead {
    margin: 50px 0 20px 0;
    color: #888;
    font-weight: 300;
}



/*
The `#menu` `<div>` is the parent `<div>` that contains the `.
` that
appears on the left side of the page.
*/

#menu {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    /* so the menu or its navicon stays above all content */
    width: 200px;
    margin-left: -150px;
    /* "#menu" width */
    background-image: linear-gradient(to right top, #5890e3, #407be1, #2f65dc, #2b4cd4, #352fc9);
    overflow-y: auto;
}

/*
  All anchors inside the menu should be styled like this.
  */
#menu a {
    padding: 0.6em 0 0.6em 0.6em;
    border: none;
    color: #999;
}


/*
  Remove all background/borders, since we are applying them to #menu.
  */
.pure-menu h5 {
    padding: 10px 0;
    background-color: #1c1ca1;
    color: #ffffff;
    font-size: 15px;
}

#menu .pure-menu,
#menu .pure-menu ul {
    border: none;
    background: transparent;
}

#menu .pure-menu .pure-menu-list li {
    margin: 5px 0;
    background-color: #0d55c3;
}

.pure-menu-lists {
    margin-top: -32px;
    margin-left: 952px;
    font-size: 15px;
}

.pure-menu-lists li {
    float: left;
    margin: 5px 0;
    margin-left: 30px;
    list-style-type: none;

}

.pure-menu-lists li a {
    margin: 5px 0;
    color: #000000;
    text-decoration: none;

}

.pure-menu-lists li a:hover {
    /*background-color: rgb(141, 129, 196);*/
    padding: 5px 10px;
    border-radius: 5px;

}

#menu .pure-menu .pure-menu-list li a {
    color: #ffffff;
    font-size: 15px;
}

#menu .pure-menu .pure-menu-list li a:hover {
    text-decoration: none;
}

/*
  Add that light border to separate items into groups.
  */
#menu .pure-menu ul,
#menu .pure-menu .menu-item-divided {
    border-top: 1px solid #333;
}

/*
      Change color of the anchor links on hover/focus.
      */
#menu .pure-menu li a:hover,
#menu .pure-menu li a:focus {
    background: rgb(17, 9, 129);
}

/*
  This styles the selected menu item `<li>`.
  */
#menu .pure-menu-selected,
#menu .pure-menu-heading {
    background: #0a3a7a;

}

#menu .pure-menu a {
    font-size: 14px;
}

/*
      This styles a link within a selected menu item `<li>`.
      */
#menu .pure-menu-selected a {
    color: #fff;
}

/*
  This styles the menu heading.
  */
#menu .pure-menu-heading {
    margin: 0;
    color: #fff;
    font-size: 110%;
}

/* -- Dynamic Button For Responsive Menu -------------------------------------*/

/*
The button to open/close the Menu is custom-made and not part of Pure. Here's
how it works:
*/

/*
`.menu-link` represents the responsive menu toggle that shows/hides on
small screens.
*/
.menu-link {
    display: block;
    /* show this only on small screens */
    position: fixed;
    top: 0;
    left: 0;
    /* "#menu width" */
    z-index: 10;
    width: 2em;
    height: auto;
    padding: 2.1em 1.6em;
    background: #000;
    background: rgba(0, 0, 0, 0.7);
    font-size: 10px;
    /* change this value to increase/decrease button size */
}

.menu-link:hover,
.menu-link:focus {
    background: #000;
}

.menu-link span {
    display: block;
    position: relative;
}

.menu-link span,
.menu-link span:before,
.menu-link span:after {
    width: 100%;
    height: 0.2em;
    background-color: #fff;
    pointer-events: none;
}

.menu-link span:before,
.menu-link span:after {
    position: absolute;
    margin-top: -0.6em;
    content: " ";
}

.menu-link span:after {
    margin-top: 0.6em;
}


/* -- Responsive Styles (Media Queries) ------------------------------------- */

/*
Hides the menu at `48em`, but modify this based on your app's needs.
*/
@media (min-width: 48em) {

    .header,
    .content {
        padding-right: 2em;
        padding-left: 2em;
    }

    #layout {
        left: 0;
        padding-left: 150px;
        /* left col width "#menu" */
    }

    #menu {
        left: 150px;
    }

    .menu-link {
        display: none;
        position: fixed;
        left: 150px;
    }

    #layout.active .menu-link {
        left: 150px;
    }
}

@media (max-width: 48em) {

    /* Only apply this when the window is small. Otherwise, the following
  case results in extra padding on the left:
      * Make the window small.
      * Tap the menu to trigger the active state.
      * Make the window large again.
  */
    #layout.active {
        position: relative;
        left: 150px;
    }
}

/* ------------------------------------------------------------------------------------------------ */
body {
    width: 100%;
    margin: 0 auto;
    overflow-x: hidden;
}

.container {
    width: 100%;
    margin: 0 auto;
}

.clearfix:before,
.clearfix:after {
    display: table;
    content: " ";
}

.clearfix:after {
    clear: both;
}

.header-ttl {
    padding: 5px 0;
    background-image: linear-gradient(to right top, #5890e3, #407be1, #2f65dc, #2b4cd4, #352fc9);
}

.header-ttl .logo {
    float: left;
}

.header-ttl .logo a {
    padding-left: 50px;
    color: #ffffff;
    text-decoration: none;
}

.header-ttl .nav-inner {
    float: right;
    margin-right: 50px;
}

.header-ttl .nav-inner ul li {
    display: inline-block;
    padding: 0px 10px;
    list-style-type: none;

}

.header-ttl .nav-inner ul li a {
    color: #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}

.logo-img img {
    width: 100%;
    background-size: cover;
}

/*form{
    width: 500px;
    margin-left: 50px;
}*/
form div {
    margin: 25px 0px;
}

form div label {
    margin-top: 0px;
}

.register-form .button-secondary {
    width: 300px;
    margin-bottom: 40px;
    margin-left: 90px;
    padding: 7px 0;
    border: 1px solid rgb(29, 97, 131);
    background: rgb(29, 97, 131);
    color: #ffffff;
    border-radius: 10px;
}

.form-check {
    margin-left: 180px;
}

.btn-link {
    margin-bottom: 50px;
    margin-left: 160px;

}

.register-form {
    width: 500px;
    margin: 0 auto;
}

.card {
    width: 700px;
    margin: 0 auto;
    background-color: #F8F4F4;
}

.cardHeader {
    padding: 10px 0;
    padding-left: 10px;
    border: 1px solid rgb(48, 77, 238);
    background-color: rgb(48, 77, 238);
    color: #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 5px;
}

.cardHeaders {
    margin-top: 50px;
    padding: 10px 0;
    padding-left: 10px;
    border: 1px solid rgb(48, 77, 238);
    background-color: rgb(48, 77, 238);
    color: #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 5px;
}

.adduser {
    width: 600px;
    margin-top: 115px;
    margin-bottom: 95px;
    margin-left: 300px;
    border: 1px solid #F8F4F4;
    background-color: #F8F4F4;
    border-radius: 5px;
}

.button-secondary {
    margin-left: 55px;
    padding: 7px 0;
    border: 1px solid rgb(29, 97, 131);
    background: rgb(29, 97, 131);
    color: #ffffff;
    border-radius: 10px;
}

.showlist {
    width: 300px;
    margin-top: 23px;
    margin-bottom: 30px;
    margin-left: 106px;
    border: 1px solid black;
    border-radius: 5px;
}

.pull-right a {
    width: 310px;
    margin-top: -287px;
    margin-left: 104px;
}

.pull-left h2 {
    margin-left: 60px;
}

.search {
    display: flex;
    width: 100%;
}

.search form {
    width: 100%;
    margin-top: 4px;
    margin-bottom: 18px;
    margin-left: 0px;
}

.search form input {
    display: inline;
    width: 180px;
    padding-left: 5px;
}

.panel {
    width: 80%;
    margin-left: 212px;
}

.panel table {
    width: 98%;
    margin-bottom: 70px;
}

.col-lg-12 {
    width: 90%;
    margin-top: 30px;
    margin-left: 30px;
}

.title {
    width: 86%;
    margin-top: 30px;

}

.title h1 {
    color: #6969bb;
    font-family: monospace;
    font-size: 28px;
}

/*hr{
    width: 100%;
    background-color: #474040;
    padding-bottom: 1px;
}*/

.table {
    margin-left: 20px;

}

.rightside-profile {
    float: right;
}

.register-form .profile input ,.certificate input{
    width: 500px;
    padding: 4px 5px;
    border: 1px solid #ccbdbd;
    background-color: #ffffff;
    border-radius: 5px;
}
.register-form .certificate input,.register-form .categories{
    padding: 4px 5px;
    border: 1px solid #ccbdbd;
    background-color: #ffffff;
    border-radius: 5px;
}
.modal-body input{
    padding: 3px 5px;
    border: 1px solid #ccbdbd;
    background-color: #ffffff;
    border-radius: 5px;
}
#close a{
    color: red;
}
tbody tr td button {
    width: 100px;
    padding: 0 5px;
}

/*.create{
    margin-top: 30px;
    margin-bottom: 30px;
}*/
.create a button {
    width: 162px;
    margin-bottom: 20px;
    /*margin-left: 74px;*/
    padding: 7px 0px;
    border: 1px solid #2f65dc;
    background-color: #193063;
    color: #ffffff;
    border-radius: 7px;
    border-color: #2b4cd4;
}

.create a:hover {
    color: #2b4cd4;
}

.create-role a button {
    width: 162px;
    margin-bottom: 30px;
    margin-left: 86px;
    padding: 7px 0px;
    border: 1px solid #2f65dc;
    background-color: #193063;
    color: #ffffff;
    border-radius: 7px;
    border-color: #2b4cd4;
}

.permission {
    margin-top: -10px;
}

.btns {
    margin-top: -35px;
    margin-left: 144px;
}

/*.show{
    background-color: #2e52a0;
    padding: 7px 0px;
    border-radius: 7px;
    border: 1px solid #2e52a0;
    color: #ffffff;
    width: 120px;
    border-color: #2e52a0;
}*/
.delete button {
    width: 120px;
    padding: 7px 0px;
    border: 1px solid #FF0000;
    background-color: #FF0000;
    color: #ffffff;
    border-radius: 7px;
}

.delete button:hover {
    border-color: #c00f09;
}

.edit {
    width: 100px;
    margin: 0 12px;
    padding: 7px 0px;
    border: 1px solid #1ab83c;
    background-color: #1ab83c;
    color: #ffffff;
    border-radius: 7px;
    border-color: #1ab83c;
}

.edit-role {
    width: 120px;
    margin-right: 12px;
    padding: 7px 0px;
    border: 1px solid #1ab83c;
    background-color: #1ab83c;
    color: #ffffff;
    border-radius: 7px;
    border-color: #1ab83c;
}

.edit-r {
    margin-left: 15px;
}

.delete-role {
    width: 120px;
    padding: 7px 0px;
    border: 1px solid #d65316;
    background-color: #FF0000;
    ;
    color: #ffffff;
    border-radius: 7px;
    border-color: #d65316;

}

.show-role {
    width: 120px;
    padding: 7px 0px;
    border: 1px solid #2e52a0;
    background-color: #2e52a0;
    color: #ffffff;
    border-radius: 7px;
    border-color: #2e52a0;
}
.show-role-detail{
    width: 100px;
    padding: 7px 0px;
    border: 1px solid #2e52a0;
    background-color: #2e52a0;
    color: #ffffff;
    border-radius: 7px;
    border-color: #2e52a0;
}
.edit-role-detail{
    width: 100px;;
    margin-right: 10px;
    padding: 7px 0px;
    border: 1px solid #1ab83c;;
    background-color: #1ab83c;;
    color: #ffffff;
    border-radius: 7px;
    border-color:#1ab83c;
}
.delete-role-detail{
    width: 100px;
    padding: 7px 0px;
    border: 1px solid #ff0000;
    background-color: #ff0000;
    color: #ffffff;
    border-radius: 7px;
    border-color: #ff0000;
}
.profile_img {
    width: 200px;
}

.post_img {
    width: 100px;
    box-shadow: 1px 1px 10px black;
    border-radius: 5px;
}

div.gallery {
    border: 1px solid #ccc;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: 150px;
}

div.desc {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsive {
    float: left;
    width: 24.99999%;
    margin: 10px 0;
    padding: 0 6px;
}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    display: table;
    clear: both;
    content: "";
}

.desc a:hover {
    text-decoration: none;
}

/* ----------------------------------------------------------------------*/

input[type=text],
select,
textarea {
    width: 100%;
    margin-top: 6px;
    margin-bottom: 16px;
    padding: 12px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 4px;
    resize: vertical;
}

input[type=submited] {
    padding: 12px 20px;
    border: none;
    background-color: #04AA6D;
    color: white;
    cursor: pointer;
    border-radius: 4px;
}

input[type=submited]:hover {
    background-color: #45a049;
}

.contact {
    width: 100%;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
}

.contact .map iframe {
    float: left;
    width: 50%;
    height: 480px;
}

.contact .contactform {
    float: right;
    width: 50%;
}

.contact .contactform form {
    width: 90%;
    margin-left: 21px;
}

.content-contact {
    margin: 0 auto;
    margin-bottom: 30px;
    max-width: 1000px;
}

#submits {
    width: 100%;
    padding: 5px 0;
    border: 1px solid #2b4cd4;
    background-color: #2b4cd4;
    border-radius: 5px;
}

.auth-list {
    margin-top: -50px;
    margin-bottom: 70px;
    margin-left: 952px;
    font-size: 15px;
}

.auth-list li {
    float: left;
    list-style: none;
    margin: 0 5px;
}

.auth-list li a {
    color: black;
    text-decoration: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    background-color: #f9f9f9;
    min-width: 160px;
}

.dropdown-content a {
    display: block;
    float: none;
    padding: 12px 16px;
    color: black;
    text-decoration: none;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.active {
    background-color: #132b5f;
}

.imgprofile img {
    width: 250px;
    height: 250px;

}

.imgprofile span {
    display: block;
    margin: 10px 45px;

}

.imgprofile a {
    display: inline;
}

.imgprofile a button {
    width: 100px;
    margin-bottom: 40px;
    margin-left: 30px;
    padding: 7px 0;
    border: 1px solid rgb(29, 97, 131);
    background: rgb(29, 97, 131);
    color: #ffffff;
    border-radius: 10px;
}

.imgprofile a .cancel {
    border: 1px solid gray;
    background-color: gray;
}

.imageshow {
    width: 400px;
    margin: 0 auto;
    padding: 16px 51px;
    border: 1px solid #c5a5a5;
    border-radius: 10px;
}

.btnpost {
    margin-right: 105px;
}

.buttons {
    width: 190px;
    margin-bottom: 40px;
    margin-left: 155px;
    padding: 7px 0;
    border: 1px solid rgb(29, 97, 131);
    background: rgb(29, 97, 131);
    color: #ffffff;
    border-radius: 10px;
}

.showpermission {
    width: 605px;
    margin: 0 auto;
}

.showpermission h4 {
    margin-left: 110px;
}

.img img {
    width: 400px;
    height: 400px;
}

/*modal box*/
.modal-box {
    display: none;
    position: absolute;
    left: 33%;
    z-index: 1000;
    width: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    background: white;
    border-bottom: 1px solid #aaa;
    border-radius: 4px;
    background-clip: padding-box;
}

.modal-box header,
.modal-box .modal-header {
    padding: 20px 20px 0 20px;;
    border-bottom: 1px solid #ddd;
}

.modal-box .modal-body {
    padding: 20px 20px 35px 20px;
}

.modal-box footer,
.modal-box .modal-footer {
    padding: 1em;
    background: rgba(0, 0, 0, 0.02);
    text-align: right;
    border-top: 1px solid #ddd;
}

.modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 900;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3) !important;
    opacity: 0;
    filter: alpha(opacity=0);
}

a.close {
    position: absolute;
    top: 5%;
    right: 2%;
    line-height: 1;
    color: #bbb;
    font-size: 1.5em;
    text-decoration: none;
}

a.close:hover {
    color: #222;
    -webkit-transition: color 1s ease;
    -moz-transition: color 1s ease;
    transition: color 1s ease;
}
.create-role #export,.create-role #import{
    margin-right: -50px;
}
.register{
    width: 80%;
    margin-left: 100px;
}

table#first{
    width: 98%;
}
.button-secondary-modal{
    width: 200px;
    margin-bottom: 40px;
    padding: 7px 0;
    border: 1px solid rgb(29, 97, 131);
    background: rgb(29, 97, 131);
    color: #ffffff;
    border-radius: 10px;
}
.categories_class{
    width: 165px;
}
.categories_id{
    width: 460px;
}


/*test */
.categories ul li {
    list-style: none;
    margin: 20px 5px;
    background-color: #494949;
    border-radius: 15px;
}
.categories ul {
    display: flex;
    justify-content: center;
    text-decoration: none;
}
.categories a {
    display: inline-block;
    padding: 10px 20px;
    color: white;
}
  .searchbar {
    margin: 15px auto;
    text-align: center;
  }
  
  .searchbar input {
    width: 250px;
    padding: 10px 10px;
  }
  
  .searchbar button {
    padding: 11px 10px;
    border: none;
    background-color: rgb(22, 143, 22);
    color: white;
    cursor: pointer;
    border-radius: 5px;
  }
  .searchbar button:hover {
   background-color: rgb(18, 97, 18);
}